<html>
    <head>
        <title>Guessing Game</title>
    </head>

    <h1>Guessing Game</h1>


    <ul>
        {{#each guesses}}
            <li class="{{result}}">
                {{value}}

            </li>
        {{/each}}
    </ul>

    {{unless secretNumber}}

    {{#if debug}}
        <p>#{{secretNumber}}#</p>
    {{/if}}

</html>