.low {
    color: blue;
    width: fit-content;
    margin-left: 46%;
}

.correct {
    color: green;
    width: fit-content;
    margin-left: 46%;
}

.high {
    color: red;
    width: fit-content;
    margin-left: 46%;
}

.p {
    text-align: center;
    vertical-align: middle;
}

.h1 {
    text-align: center;
    vertical-align: middle;
}

.ul {
    text-align: center;
    vertical-align: middle;
}

.form {
    text-align: center;
    vertical-align: middle;
}