.low {
    color: blue;
    width: fit-content;
    margin-left: 46%;
    font-family: "Comic Sans MS", sans-serif;
}

.correct {
    color: green;
    width: fit-content;
    margin-left: 46%;
    font-family: "Comic Sans MS", sans-serif;
}

.high {
    color: red;
    width: fit-content;
    margin-left: 46%;
    font-family: "Comic Sans MS", sans-serif;
}

.p {
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", sans-serif;
}

.h1 {
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", sans-serif;
}

.ul {
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", sans-serif;
}

.form {
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", sans-serif;
}

.button {
    font-family: "Comic Sans MS", sans-serif;
}

.input {
    font-family: "Comic Sans MS", sans-serif;
}

.won {
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 50pt;
}
